<title>UniLog Index</title>

<h1>Tags</h1>
<a href="http://localhost:8000/unilog/">ALL</a>
{% for tag in tags %}
    <a href="http://localhost:8000/unilog/{{tag.name}}">{{tag.name}}</a>
{% endfor %}

<h1>Log Entries</h1>
{% if entries %}
<table border=1>
{% for entry in entries %}
<tr>
    <td width=150>
        {% for tag in entry.tags.all %}
            {{ tag.name }}
        {% endfor %}
    </td>
    <td>
         {{ entry.date|date:"Y-m-d D H:i" }}
    </td>
    <td >
        {{ entry.text|truncatechars:100 }}
    </td>
    <td>
        <a href="http://localhost:8000/unilog/{{entry.id}}/">Details</a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No entries available!</p>
{% endif %}